body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.seat-group {
    display: inline-block;
    margin: 20px;
}

.seats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.seat {
    width: 70px;
    height: 70px;
    background-color: #c6dfc8;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.highlight {
    background-color: #9eccab;
    animation: highlight-animation 0.5s ease-in-out infinite alternate;
}

@keyframes highlight-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#results {
    margin-top: 20px;
    font-size: 1.2em;
}
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      /* background-color: #f5f5f5; */
      /* 根据需要设置背景颜色 */
      padding: 2px;
      text-align: center;
    }
.ripple-effect {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
}
.ripple-effect .ripple {
  display: block;
  position: absolute;
  border-radius: 100%;
  /*设置背景为彩虹渐变，可以换成其他颜色*/
  background: linear-gradient(45deg,
					rgba(255,0,0,.5),
					rgba(255,255,0,.5),
					rgba(0,255,255,.5),
					rgba(0,0,255,.5)
				);
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.ripple-effect .animated {
  -webkit-animation: ripple 0.6s linear;
          animation: ripple 0.6s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
}
